
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */


.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-image: linear-gradient(to right,rgba(0, 0, 255, 0.411),rgba(128, 0, 117, 0.548));
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
  color: transparent !important;
  background: linear-gradient(to bottom right,rgb(2, 188, 245),rgba(236, 221, 13, 0.966));
  -webkit-background-clip: text;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 100%;
  position: absolute;
  border-radius: 1rem;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #72ef91;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* Footer Section */

#footer{
  background-color: #776f92;
}
.social-icon {
  margin: 20px 10px;
  font-size: 2rem;
  color: #fff;
}
.social-icon:hover{
  color:#5ce97f;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    
  }
}
